SESSION_SECRET=
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
OPENAI_API_KEY=
VITE_OPENAI_API_KEY=
NODE_ENV=development
PORT=3000
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
APP_URL=
