SESSION_SECRET=
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
NODE_ENV=development
PORT=3000

# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_FIRESTORE_DATABASE_ID=
